.container {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}
body {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  background: -webkit-linear-gradient(to right, #868f96 0%, #596164 100%);
  font-size: 1rem;
}
body p, body p span {
color: #fff;
}


.container h2 {
  font-size: 5rem;
}

.container a, .container p  {
  font-size: 1rem;
  color: #202124;
}
ul {
  padding: 0;
}

.seperator {
  padding: 10px;
}
.headlinesContainer {
  display: flex;
}
.leftNewsPanel {
  width: 90%;
}
.leftNewsPanel p {
  color: #fff;
}
.rightImagePanel {
  width: 10%;
}
.rightImagePanel img {
  width: 100%;
  height: 100px;
}
.newsWrapper {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
ul li:last-child .newsWrapper {
  border: none;
}
.navwrapper {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
}
.navwrapper input, .navwrapper select {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 13px;
  margin-right: 1rem;
}
.searchContainer {
  position: relative;
}
.searchContainer span { 
  position: absolute;
  right: 25px;
  top: 8px;
}
#foo {
  display:inline-flex;
   width:640px;
   height:480px
}
.newsWrapper button {
  background-color: #236683;
  border-color: #236683;
}
.nav-tabs .nav-link {
  padding: 20px;
  font-size: 18px;
}
.noContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #fff !important;
  font-size: 1.5rem !important;
}
