.pagination-wrapper > div{
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: var(--theme-blue-btn);
}