@import './assets/css/color.css';
@import './components/header/_header.css';
@import './components/Search/Search.css';
@import './components/mainContent/_main-content.css';
body{
  margin-top: 56px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 999;
  height: 158px;
}

.App-link {
  color: #61dafb;
}
.App-search {
  background-color: white;
  color: black
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
